 body {
  font-family: fantasy;
  background-color: orange ;
}
.d1{
  margin-left: 400px;
  width: 500px;
  height: 600px;
  border-style: solid;
  border-width: 4px;
  text-align: center;
  background-color: black;
  color: #d92020;
}
.box input{
  margin: 15px;
  width: 300px;
  height: 30px;
  border-color: #d92020;
  border-style: none;
  border-bottom-style: solid;
  border-width: 4px;
  font-size: 20px;
  padding-left: 20px;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc73;   
}
a{
  text-decoration: none;
  color: gray;
}
.submit{
  height: 40px;
  font-size: 20px;
  color: white;
  padding-left: 0px;
  background-color: #d92020;
}
.submit:hover{
  width: 200px;
  cursor: pointer;
	color: red;
	background-color: white;
}
.d1 h1{
  font-size: 50px;
}
